body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #f0f0f0;
}

.create-account {
	width: 340px;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
	border-radius: 6px;
	border: 1px solid #d0d7de;
}

.error-message {
	text-align: center;
	color: #af0000;
	padding-bottom: 15px;
	display: none;
}