body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.container-lg {
	padding-top: 15px;
}

.title {
	text-align: center;
}

.user-photo {
	width: 100%;
}

.profile-info {
	margin: auto 0;
}