p {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 150%;


	color: #52525C;

	flex: None;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
}

input {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 8px;

	position: absolute;

	max-width: 360px;
	max-height: 79px;
	height: 10%;
	width: 90%;
	border: 1px solid #D0D7DE;
	border-radius: 10px;
}

ul {
	margin-left: -65%;
}

h1 {
	position: absolute;
	max-width: 400px;
	max-height: 80px;
	width: 28%;
	left: 42%;
	top: 17%;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 39px;
	display: flex;
	align-items: center;
	text-align: center;
}

a {
	color: white;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
}

.form {
	box-sizing: border-box;
	position: absolute;

	max-width: 400px;
	max-height: 480px;
	width: 43%;
	height: 53%;

	left: 30%;
	right: 30%;
	top: 28%;
	padding: 1.3%;

	background: #F6F8FA;
	border: 1px solid #D0D7DE;
	border-radius: 10px;
}

.logo {
	box-sizing: border-box;
	height: 80%;
	position: absolute;
	left: 0.76%;
	right: 95%;
	top: 8.33%;
	bottom: 6.94%;
	border: 1px solid #3BE9E9;
	border-radius: 20px;
}

.user-icon {
	position: absolute;
	height: 80%;

	left: 95.35%;
	right: 0.83%;
	top: 11.11%;
	bottom: 15.28%;
}
.submit-button {
	background: #2DA44E;
	border-radius: 5px;

    display: block;
    color: white;
    flex: none;
    order: 0;
    flex-grow: 0;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	padding-left: 38%;
	padding-top: 2%;
}

.workflow {
	margin-top: 15%;
}


@media (max-width: 1500px) {
	ul {
		margin-left: -40%;
	}
	

}
@media (max-width: 1300px) {
	.form {
		padding: 1.6%;
	}
	
	ul {
		margin-left: -10%;
	}
	h1 {
		left: 41%;
	}

}

@media (max-width: 1250px) {

	ul {
		margin-left: auto;
	}

}

@media (max-width: 1200px) {

	ul {
		margin-left: -40%;
	}

}

@media (max-width: 1195px) {

	ul {
		margin-left: auto;
	}

}
@media (max-width: 1150px) {

	ul {
		margin-left: auto;
	}

	h1 {
		left: 40%;
	}

}

@media (max-width: 1100px) {
	.form {
		padding: 2%;
	}
}

@media (max-width: 850px) {
	.workflow {
		margin-top: 20%;
	}
	h1 {
		left: 38%;
	}
	.form {
		height: 60%;
	}
}

@media (max-width: 804px) {
	h1 {
		top: 17%;
		width: 40%;	
	}

}

@media (max-width: 800px) {
	ul {
		margin-left: auto;
	}

}

@media (max-width: 767px) {
	.nav-pills>li {
		float: none;
	}
	.nav-pills {
		text-align: center;
	}
	.logo {
		height: 25%;
		top: 3.5%;
		left: 1.5%;
	}

    .user-icon {
    	height: 25%;
    	top: 3.5%;
    	left: 76%;;
    }
	ul {
		margin-left: auto;
	}	
	h1 {
		top: 18.5%;
		width: 50%;
		font-size: 25px;
	}
}

@media (max-width: 720px) {
	h1 {
		left: 36%;
	}
}

@media (max-width: 700px) {
	.submit-button {
		padding-left: 32%;
	}
}

@media (max-width: 650px) {
	.workflow {
		margin-top: 25%;
	}
	h1 {
		left: 35%;
	}
	.form {
		height: 55%;
	}
}

@media (max-width: 590px) {
	h1 {
		left: 33%;
	}
}

@media (max-width: 562px) {
	.form {
		height: 50%;
	}
}

@media (max-width: 500px) {
	.workflow {
		margin-top: 30%;
	}
}

@media (max-width: 450px) {
	h1 {
		font-size: 22px;
	}
	.user-icon {
		left: 60%;
	}
}

@media (max-width: 400px) {
	.submit-button {
		padding-left: 29%;
	}
	.workflow {
		margin-top: 35%;
	}
	h1 {
		font-size: 20px;
	}
}

@media (max-width: 350px) {
	.submit-button {
		padding-left: 25%;
	}
	.workflow {
		margin-top: 40%;
	}
	h1 {
		font-size: 18px;
	}
	.form {
		height: 48%;
	}

}

@media (max-width: 300px) {
	.submit-button {
		padding-left: 22%;
	}
	.workflow {
		margin-top: 45%;
	}
	h1 {
		font-size: 16px;
	}
}

@media (max-width: 250px) {
	.submit-button {
		padding-left: 18%;
	}
	.workflow {
		margin-top: 60%;
	}
	h1 {
		font-size: 12px;
	}
	.form {
		height: 52%;
	}
}

@media (max-width: 210px) {
	.submit-button {
		padding-left: 13%;
	}
}

@media (max-width: 201px) {
	.workflow {
		margin-top: 80%;
	}

	.form {
		height: 70%;
	}
}

@media (max-width: 170px) {
	.submit-button {
		padding-left: 4.5%;
	}
}






































